body {
    padding: 0;
    margin: 0;
    // background: linear-gradient(blue, yellow);
    background-image: url(../../dist/img/main.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    @include margin-padding(padding, $right: 10px, $left: 10px);
}