span {
  display: inline-block;
}

.visit__list {
  list-style: none;
  margin: 20px;

  z-index: -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  row-gap: 60px;
  column-gap: 30px;
}

.visit__menu {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 8px;
  position: relative;
  background-color: #fff;
  width: 300px;
}

.border {
  border: 1px solid rgba(21, 164, 21, 20%);
}

.visit__item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  text-align: center;
}

.visit__title {
  color: rgba(13, 56, 87, 1);
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}

.color {
  color: #15a415;
}

.visit__text-doctor {
  color: rgba(108, 134, 152, 1);
  font-size: 16px;
  line-height: 28px;
}

.visit__img {
  background-color: hsl(0, 0%, 90%);
}

.active {
  background-color: rgba(8, 80, 134, 0.2);
}

.visit-btn {
  background-color: hsl(0, 0%, 90%);
  padding: 10px;
  color: rgba(13, 56, 87, 1);
  border: none;
  margin-top: 30px;
  cursor: pointer;
  width: 125px;
}

.wrapper-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-close,
#btn-edit {
  fill: rgba(108, 134, 152, 1);
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

.icon-done {
  display: none;
  fill: rgba(21, 164, 21, 0.98);
  position: absolute;
  top: -4px;
  right: 1%;
}

.text-wrapper {
  color: rgb(108, 134, 152);
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  margin-top: 10px;
}

.text__total:last-child {
  margin-bottom: 10px;
}