.main {
  background-color: rgba(211, 211, 211, 0.637);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  @include margin-padding(padding, $top: 15px, $bottom: 15px);


  &__container {
    @include flex-center($justify: space-between);
    height: 60px;
    width: 100%;
  }

  &-logo {
    @include flex-center;
  }


  .logo-text {
    font-weight: 700;
    font-size: 18px;

    &__accent {
      color: rgba(236, 88, 99, 1);
    }
  }
}