.login {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);

    &-active {
        display: flex;
    }

    &__form {
        position: relative;
        width: 300px;
        height: 300px;
        @include flex-center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.5);
        gap: 20px;
    }
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
}