.filter {
  &__container {
    margin-top: 150px;
  }
  &__menu {
    @include flex-center;
    column-gap: 30px;
    position: relative;
    z-index: 10;
  }
  &__search,
  &__visit,
  &__urgency {
    width: 150px;
  }
}

#root {
  margin-top: 50px;
}
