@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin margin-padding ($property, $top: 0, $right: 0, $bottom: 0, $left: 0) {
    #{$property}-top: $top;
    #{$property}-right: $right;
    #{$property}-bottom: $bottom;
    #{$property}-left: $left;
}