.modal-body {
    border: 4px solid grey;
    background-color: white;
    position: absolute;
    right: 23vw;
    top: 20vh;
    width: 52vw;
    z-index: 10;
}


.modal-form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
    margin: 2vw;
    background-color: lightgray;
    padding: 2vw;

}

@media (max-width: 580px) {
    .mopdal-form {
        grid-template-columns: 1fr;
    }
}

.modal-select {
    padding: 1vw;
    background-color: lightgray;
    display: flex;
    width: 48vw;
    flex-direction: row;
    justify-content: center;
    margin: 2vw;
}

.modal-textarea {
    height: 5vh;
    resize: none;
}

.modal-field {
    min-height: 2vh;
}

.modal-create-button {
    margin: 2vw;
    background-color: lightgray;
    padding: 1vw;
    width: 20vw;
}

.modal-cansel-button {
    margin: 2vw;
    background-color: black;
    color: white;
    padding: 1vw;
    width: 20vw;
    float: right;
}

.error {
    background-color: lightpink;
}